@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1546414701-81cc6963c67f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3688&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: 120px auto;
    max-width: 400px;
    height: fit-content;
    background: white;
    border-radius: 5px;
    padding: 25px;
}

.container header {
    font-size: 30px;
    font-weight: 600;
}

.container .inputField {
    display: flex;
    height: 45px;
    width: 100%;
    margin: 20px 0;
}

.inputField input {
    width: 85%;
    height: 100%;
    border: 1px solid grey;
    font-size: 17px;
    border-radius: 3px; 
    padding-left: 15px;
    outline: none;
}

.inputField button {
    width: 60px;
    height: 100%;
    border: none;
    background-color: rgb(53, 172, 133);
    outline: none;
    border-radius: 3px;
    color: white;
    font-size: 22px;
    margin-left: 5px;
}

.container .todolist {
    max-height: 250px;
    overflow-y: auto;
}

.todolist li {
    list-style: none;
    height: 45px;
    line-height: 45px;
    position: relative;
    background: rgb(162, 159, 159);
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 0 15px;
    color: white;
    overflow: hidden;
}

.todolist li span {
    position: absolute;
    right: 0;
    color: white;
    width: 45px;
    text-align: center;
    background: rgb(210, 71, 71);
    border-radius: 0 3px 3px 0;
}

.container .footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 25px;
    align-items: center;
}

.footer button {
    border: none;
    background-color: rgb(53, 172, 133);
    outline: none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    margin-left: 3px;
    padding: 6px 10px;
    background-color: black;
    opacity: 0.8;
}
